body {
  margin: 0;
  padding: 0;
  height: 100vh;
  background-color: rgb(213, 213, 215);

}

/* .name-date-event {
  display: grid;
  font-size: 10px;
  grid-template-columns: 1fr 1fr 3fr;
  padding: 0.50rem;
} */

/* ROW BG */
.row-header {
  grid-template-columns: 1fr 1fr 3fr 1fr;
  background-color: rgb(124, 124, 161);
  height: 100vh;
}

.row {
  display: grid;
  grid-template-columns: 1fr 1fr 3fr auto;
  padding: 0.50rem;
  border-bottom: 1px solid #a09da6;
  gap: 12%;
}

input {
  font-size: 12px;
}

.events-occured {
  display: grid;
  font-size: 0.60rem;
}


input {
  padding: 0.20rem;
}


button {
  font-size: 12px;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#form {
  display: grid;
  height: 10rem;
  gap: 1rem;
  flex-wrap: wrap;
  flex-direction: column;

  justify-items: center;
  background-color: rgb(35, 33, 36);
  bottom: 0;
}

form {
  padding: 1.50rem 0 1.50rem 0;
  width: 100vw;
  height: 2rem;
  overflow: hidden;
}

.button {
  height: 20px;
  width: 20px;
}

.post {
  cursor: pointer;
}

#app {
  display: grid;
  gap: 0.5rem;
  font-family: system-ui, sans-serif;
  padding: 1rem;
}
